<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.emriver.geomodel.main"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="com.emriver.geomodel.main">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.ui.themes/images/">
         </property>
      </product>
   </extension>

</plugin>
