<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="com.elmocity.elib.main">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.elmocity.elib.main/css/default.css">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.ui.themes/images/">
         </property>
         <property
               name="appName"
               value="com.elmocity.elib.main">
         </property>
      </product>
   </extension>
   <extension
         id="woof"
         name="woof"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.elmocity.elib.main.fake"
            description="fake"
            name="fake">
      </product>
   </extension>

</plugin>
